{{> head }}

       {{> navbar }}

       <div class="row">
           <div class="col-8">
                <h1>Imagen</h1>
                <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus vel, expedita amet alias eius repellat ratione dolorem incidunt, maxime commodi modi accusamus tenetur? Repellat, ex. Ipsa temporibus odit vitae nihil.
                </div>
           </div>

           <div class="col-4">
                    <img src="assets/img/test.jpg" class="img-thumbnail"
           </div>

       </div>

     {{> footer }}